.checkout_table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.main-content-wrapper .checkout-table-area {
    margin: auto;
    position: relative;
    z-index: 1;
    margin: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(95%);
    flex: 0 0 calc(95%);
    width: calc(95%);
    max-width: calc(95%); 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-content-wrapper .checkout-table-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 0px);
    flex: 0 0 calc(100% - 0px);
    width: calc(100% - 0px);
    max-width: calc(100% - 0px); 
    } 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content-wrapper .checkout-table-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 0px);
    flex: 0 0 calc(100% - 0px);
    width: calc(100% - 0px);
    max-width: calc(100% - 0px); 
    } 
}

@media only screen and (max-width: 767px) {
  .main-content-wrapper .checkout-table-area {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 0; 
    } 
}

.main-content-wrapper .checkout-table-area table thead {
    width: 100%;
    display: block;
}

.main-content-wrapper .checkout-table-area table tbody {
    width: 100%;
    display: block;
}

.main-content-wrapper .checkout-table-area table thead tr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #f5f7fa;
}

.main-content-wrapper .checkout-table-area table tbody tr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    width: 100%;
}

.main-content-wrapper .checkout-table-area table thead tr th,
.main-content-wrapper .checkout-table-area table tbody tr td
{
    border-top: none;
    border-bottom: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    width: 15%;
    font-size: 19px;
    max-width: 15%;
    color: #242424;
    text-transform: capitalize;
}

.main-content-wrapper .checkout-table-area table tbody tr .note
{
    border-top: none;
    border-bottom: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    font-size: 19px;
    max-width: 25%;
    color: #242424;
    text-transform: capitalize;
}

.main-content-wrapper .checkout-table-area table tbody tr .note textarea{
    width: 100%;
}

.main-content-wrapper .checkout-table-area table tbody tr td h5 {
    font-size: 16px;
    color: #252525; 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-content-wrapper .checkout-table-area table tbody tr td h5 {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-content-wrapper .checkout-table-area table tbody tr td h5 {
        font-size: 14px;
    }
}
@media only screen and (max-width: 767px) {
    .main-content-wrapper .checkout-table-area table tbody tr td h5 {
        font-size: 12px;
    }
}
.main-content-wrapper .checkout-table-area table tbody tr td .qty-btn p {
    margin-bottom: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    background-color: #f5f7fa;
    color: #242424;
    font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-content-wrapper .checkout-table-area table tbody tr td .qty-btn p {
        padding: 0 10px; 
    }
}
.main-content-wrapper .checkout-table-area table tbody tr td .qty-btn .quantity {
    position: relative;
    z-index: 1; 
}
.main-content-wrapper .checkout-table-area table tbody tr td .qty-btn .quantity input {
    text-align: center;
    background-color: #f5f7fa;
    height: 40px;
    width: 60px;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    color: #242424;
    font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-content-wrapper .checkout-table-area table tbody tr td .qty-btn .quantity input {
        width: 45px;
    }
}

.main-content-wrapper .checkout-table-area .checkout-summary {
    background-color: #f5f7fa;
    margin-top: 100px;
    position: relative;
    z-index: 1;
    padding: 30px 20px;
}