* {
    margin: auto;
}

h4 {
    font-weight: bold;
}

.catagoery_name {
    padding: 4px;
    background-color: #6b6b6b6b;
    /*border-style: 2px #fbb710 dashed;*/
    border-width: 2px;
    border-color: #fbb710;
    border-style: solid;
    border-radius: 15px;
}