
.vertical-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.little-mark {
    display: inline !important; 
} 

/* Score Filter */
.score-filter-p {
    margin-top: auto;
    margin-right: 5%;
    margin-bottom: auto;
    margin-left: 0;
}

/* main product area start */
div.product-img a img{
    height: 550px;;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    div.product-img a img{
    height: 600px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    div.product-img a img{
    height: 550px;
}
}
@media only screen and (max-width: 767px) {
    div.product-img a img{
    height: 350px;
}
}
    /* page number area */
    .howamnypages {
        margin-bottom: 0 !important;
    }

    .pageNumber_up {
        margin-top: 0 !important;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
    }

    .pageNumber_down {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin: auto;
    }

    #ntou_shop_product_area {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: auto;
        flex: 0 0 calc(90% - 230px);
        max-width: 90%;
        max-height: 100%;
    }

    @media only screen and (max-width: 767px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            padding-top: 50px;
        }
    }


    @media only screen and (max-width: 991px) and (min-width: 768px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(95% - 180px);
            flex: 0 0 calc(95% - 180px);
            width: calc(95% - 180px);
            max-width: calc(95% - 180px);
        }
    }

    @media only screen and (max-width: 1199px) and (min-width: 992px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(95% - 230px);
            flex: 0 0 calc(95% - 230px);
            width: calc(95% - 230px);
            max-width: calc(95% - 230px);
        }
    }

    @media only screen and (max-width: 100%) and (min-width: 1200px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 230px);
            flex: 0 0 calc(100% - 230px);
            width: calc(100% - 230px);
            max-width: calc(9100% - 230px);
        }
    }

    /* product list area */


/* main product area end */