
.vertical-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.little-mark {
    display: inline !important; 
} 

/* side bar area start */

/* side bar area end */

    /* Score Filter */
    .score-filter-p {
        margin-top: auto;
        margin-right: 5%;
        margin-bottom: auto;
        margin-left: 0;
    }

/* main product area start */
    /* page number area */
    .howamnypages {
        margin-bottom: 0 !important;
    }

    .pageNumber_up {
        margin-top: 0 !important;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
    }

    .pageNumber_down {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin: auto;
    }

    #ntou_shop_product_area {
        padding-top: 30px;
        padding-bottom: 30px;
        margin: auto;
        flex: 0 0 calc(90% - 230px);
        max-width: 90%;
        max-height: 100%;
    }

    @media only screen and (max-width: 767px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            padding-top: 50px;
        }
    }


    @media only screen and (max-width: 991px) and (min-width: 768px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(95% - 180px);
            flex: 0 0 calc(95% - 180px);
            width: calc(95% - 180px);
            max-width: calc(95% - 180px);
        }
    }

    @media only screen and (max-width: 1199px) and (min-width: 992px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(95% - 230px);
            flex: 0 0 calc(95% - 230px);
            width: calc(95% - 230px);
            max-width: calc(95% - 230px);
        }
    }

    @media only screen and (max-width: 100%) and (min-width: 1200px) {
        #ntou_shop_product_area {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 230px);
            flex: 0 0 calc(100% - 230px);
            width: calc(100% - 230px);
            max-width: calc(9100% - 230px);
        }
    }

    /* product list area */


/* main product area end */


.icon_img{
    height: auto;
    width: inherit;
}

.icon_link{
    height: inherit;
    width: 200px;;
}


.toolbar{
    margin-top: 10px;
    margin-left: 10px;
    height: 125px;
    background: #f5f7fa;
    width: 99%;
    /*background: linear-gradient(#ffffffff, #fbb710);*/
}

input.checkbox{
    height: 15px;
    width: 15px;
    padding-left: 10px;
}

div.search_base{
    display: flex;
    padding-top: 80px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 360px);
    flex: 0 0 calc(100% - 360px);
    flex-direction: row;
    width: calc(100% - 360px);
    max-width: calc(100% - 360px);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
      div.search_base {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 400px);
        flex: 0 0 calc(100% - 400px);
        width: calc(100% - 400px);
        max-width: calc(100% - 400px); 
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    div.search_base {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 360px);
        flex: 0 0 calc(100% - 360px);
        width: calc(100% - 360px);
        max-width: calc(100% - 360px);
    }
}

@media only screen and (max-width: 767px) {
    div.search_base {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        width: 40%;
        max-width: 40%;
        
    }
}

.searchbutton{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 60px;
    height: 60px;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
}

div.search_base form {
    width: 50%;
    position: relative;
    margin-right: 10px;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.075); 
}

div.search_base form input {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 40px;
    font-size: 14px;
    color: #6b6b6b; 
}

div.search_base form button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    text-align: center; 
}

div.personal{
    width: auto;
    height: inherit;
}

div.personal input{
    display: inline-block;
    min-width: 60px;
    height: 30px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #fbb710;
}

div.personal input:hover{
    color: #ffffff;
    background-color: #131212;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: 0 solid transparent;
    font-weight: 400;
    font-size: 14px; 
}